html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden; /* Currently only needed for the echo, remove */
}

div {
  border: none;
  background: none;
}

#tip.parent {
  position: relative;
}
#tip {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 14pt;
  font-family: "Verdana";
  z-index: 100;
}

#title {
  text-align: right;
  padding-top: 20px;
  font-size: 14pt;
  font-family: "Verdana";
}

.panel {
  position: absolute;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;

  background-color: white;
  border: none;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px 1px #ccc;
  -moz-box-shadow: 0 0 20px 1px #ccc;
  -webkit-box-shadow: 0 0 20px 1px #ccc;
}

.choice {
  overflow: hidden;
}
button {
  font-size: 14pt;
  font-family: "Verdana";
}
.choice-button {
  /*position: absolute;*/
  background: none;
  border: none;
  color: black;
  font-weight: normal;
  margin: 0 0;
  padding: 5px 0;
}
.choice-button:not(.choice-button-active):hover {
  background-color: rgba(240, 0, 240, 0.5);
}
.choice-button-active {
  background-color: rgba(170, 187, 255, 0.5);
  color: white;
  font-weight: bold;
}
.choice-button-first {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}
.choice-button-last {
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}

#panel-choice {
  position: absolute;
  top: 80px;
  width: 96%;
  height: 100px;

  border: none;
  border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -webkit-border-radius: 20px 20px 0 0;
  box-shadow: 0 0 20px 1px #ccc;
  -moz-box-shadow: 0 0 20px 1px #ccc;
  -webkit-box-shadow: 0 0 20px 1px #ccc;
  padding: 15px 2%;
}
#panel-choice .choice-button {
  width: 20%;
}

#fp-mode-choice, #console-mode-choice {
  position: absolute;
  width: 96%;

  padding: 15px 2%;
}
#fp-mode-choice .choice-button {
  width: 33%;
}
#console-mode-choice .choice-button {
  width: 33%;
}

/* Display all elements in the panel over the canvas */
#floorplan > * {
  z-index: 10;
}
#fp-canvas {
  z-index: 5;
}

#fp-unused-warning {
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 100;
  font-size: 12pt;
  font-family: "Verdana";
  color: black;
  background: rgba(255, 255, 128, 0.5);
  padding: 10pt;
}

#console-view {
  position: absolute;
  top: 90px;
  bottom: 90px;
  left: 30px;
  right: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: monospace;
  font-size: 12pt;
  white-space: pre-wrap;
  line-height: 2pt;
}

#console-view code {
  line-height: 13pt;
  padding: 5pt 20px;
  background: #f0f0f0;
}

#console-view code.error {
  background: #f8a0a0;
}

#console-input {
  position: absolute;
  height: 50px;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

#console-edit {
  position: absolute;
  left: 0;
  width: 70%;
  height: 32px;
  font-family: monospace;
  font-size: 12pt;
  white-space: pre-wrap;

  background: none;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: normal;
  margin: 0;
  padding: 0;

  box-shadow: 0 0 10px 1px #ccc;
  -moz-box-shadow: 0 0 10px 1px #ccc;
  -webkit-box-shadow: 0 0 10px 1px #ccc;
}

#console-send {
  position: absolute;
  width: 25%;
  right: 0;
  height: 32px;

  background: none;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: normal;
  margin: 0;
  padding: 0;

  box-shadow: 0 0 10px 1px #ccc;
  -moz-box-shadow: 0 0 10px 1px #ccc;
  -webkit-box-shadow: 0 0 10px 1px #ccc;
}
#console-send:hover {
  background-color: rgb(250, 120, 250);
}

#console-help {
  position: absolute;
  top: 90px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12pt;
}

#conn-status-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
}

#conn-status {
  font-size: 12pt;
  font-family: "Verdana";
  color: black;
  background: #ffc;
  padding: 10pt;
}

.time-slider {
  position: absolute;
  height: 50px;
  bottom: 30px;
  left: 30px;
  right: 30px;
}

.echo-start {
  position: absolute;
  background: black;
  z-index: 200;
  pointer-events: none; /* There's a polyfill for this somewhere */

  animation: echo-anim 2s linear;
  -webkit-animation: echo-anim 2s linear;
}

@keyframes echo-anim {
  from {
    opacity: 0.5;
  }

  20% {
    opacity: 0;
  }

  to {
    opacity: 0;
    left: -1000px;
    top: -1000px;
    width: 3000px; /* This won't work great for huge screens, could use vmax */
    height: 3000px;
  }
}
@-webkit-keyframes echo-anim {
  from {
    opacity: 0.5;
  }

  20% {
    opacity: 0;
  }

  to {
    opacity: 0;
    left: -1000px;
    top: -1000px;
    width: 3000px; /* This won't work great for huge screens, could use vmax */
    height: 3000px;
  }
}
